.popup_opened {
  display: flex;
  visibility: visible;
  opacity: 1;
  animation: fade_in_show 0.5s;
}

@keyframes fade_in_show {
  0% {
    visibility: hidden;
    opacity: 0;
  }

  100% {
    visibility: visible;
    opacity: 1;
  }
}
