.popup__error {
  margin: 0;
  padding: 0;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.25;
  min-height: 30px;
  color: #f00;
}

.popup__error:empty:before {
    content: "\200b";
}