.profile__title {
  margin-left: 31px;
  max-width: 294px;
  margin: 0;
  color: #fff;
  font-family: "Inter", "Arial", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 42px;
  line-height: 1.14;
  place-self: end;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

@media screen and (max-width: 702px) {
  .profile__title {
    max-width: 189px;
    font-size: 27px;
    line-height: 1.2;
    text-align: center;
  }
}