.popup__subtitle {
  padding: 0;
  margin: 0 0 49px;
  font-family: "Inter", "Arial", sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 1.2;
}

@media screen and (max-width: 702px) {
  .popup__subtitle {
    padding: 0;
    margin: 0 0 75px;
    font-size: 18px;
  }
}